* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  min-height: 100vh;
  text-align: center;
  color: white;
  background: #1d2f3c;
}

.top {
  overflow: hidden;

  .black {
    width: 100%;
    background: black;
    padding: 30%;
  }

  .img {
    margin-top: 10%;
    transform: scale(1.4);
    width: 100%;
  }

  .black-invert {
    background: linear-gradient(to bottom, black, #243540);
    margin-top: 10%;
    padding: 10%;
  }
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 33vh;

  h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    font-size: 9rem;
  }

  h2 {
    text-decoration-line: underline;
    font-size: 5vw;
    font-weight: 100;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
  }

  .project {
    width: 40%;
    margin: 20%;
  }

  .logo {
    width: 100%;
  }

  padding-bottom: 20%;
}

.bottom {
  padding: 20% 5%;

  background: url('./assets/bottom.jpg');
  background-size: cover;

  .contact {
    font-size: 10vw;
    font-weight: 100;
  }
  form {
    margin-top: 5%;

    input,
    textarea,
    button {
      width: 70%;
      border-radius: 5px;
      margin-top: 1rem;
    }
  }

  .bottom-img {
    position: fixed;
    bottom: 0;
    right: -50%;
    z-index: -1;
  }
}

@media all and (min-width: 700px) {
  .top {
    // overflow: hidden;

    .black {
      width: 100%;
      background: black;
      padding: 5%;
    }

    .img {
      margin-top: 0;
      transform: scale(1);
    }

    .black-invert {
      background: linear-gradient(to bottom, black, #243540);
      margin-top: -1%;
    }
  }

  .work {
    h1 {
      font-family: 'EB Garamond', serif;
      font-weight: 100;
      font-size: 3vw;
    }
  }

  .logos {
     margin: 0 20%;

    flex-direction: row;
    flex-wrap:wrap;
    h2 {
      margin-top:30%;
      text-decoration-line: underline;
      font-size: 2vw;
      font-weight: 100;
      font-family: 'EB Garamond', serif;
    }



    .project{
      flex:1 1 2%;
       margin:5% 15%;


    .logo {
      width: 100%;
 border:1px solid yellow;
    }
    }
 padding-bottom: 10%;
  }








  .bottom {
    padding: 3% 35% 20% 35%;
    .contact {
      font-size: 5vw;
      font-weight: 100;
    }

    form {
      h2 {
        margin: 2% 0 0 5%;
        text-align: left;
      }
      font-size: 0.5vw;

      margin-top: 10%;
      padding: 5% 0;
      background: #243540;
      border-radius: 20px;

      input,
      textarea,
      button {
        width: 95%;
        border-radius: 5px;
        margin-top: 2rem;
      }

      input {
        padding: 1rem;
        border-radius: 10px;
      }

      textarea {
        height: 30rem;
      }
      button {
        color: white;
        background: none;
        border: none;
        font-size: 1.25vw;
      }
    }
  }
}
