* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // background:rgba(36,53,64);
}

html {
  font-size: 62.5%;
 
}

.app {
  min-height: 100vh;
  text-align: center;
  // background: #243540;


  
}
.top {  overflow:hidden;

  .black {
    // position: fixed;
    // top: 0;
    width: 100%;
    background: black;
    padding: 30%;
  }



  .img {
    // position:fixed;
    // left:-5%;
    // top:2%;
    margin-top:10%;
    transform: scale(1.4);
    width: 100%;
  
  }

 

  .black-invert{
    background: linear-gradient(to bottom,black, #243540);
    margin-top:10%;
    // background:black;
    // border:1px solid white;
    padding:10%;
    
  }
}

.work {
  display:flex;
  flex-direction:column;
  align-items: center;
  min-height: 33vh;
  background: #1D2F3C;
  h1{
    color:white;
   
    font-family: 'EB Garamond', serif;
   font-weight: 100;
    font-size:9rem;
 
  }

h2{
  color:white;
  text-decoration-line: underline;
  font-size:3rem;
  font-weight: 100;
   font-family: 'EB Garamond', serif;
   font-weight: 100;

}

  .logo{
    width:40%;
    margin:20%;
  }
 

padding-bottom:20%;


}

.bottom {
padding: 20% 5%;
//   min-height: 33vh;
  background: url('./assets/bottom.jpg');
// // background-position: right;
background-size: cover;
color:white;

  form{
    margin-top:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
  input,textarea,button{
    width:70%;
    border-radius:5px;
    margin-top:1rem;
  }
  }

// .bottom-img{
//   position: fixed;
//   bottom:0;
//   right:-50%;
//   z-index:-1;
// }


}
