* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  color: white;
}

html {
  font-size: 62.5%;
}

.app {
  min-height: 100vh;
  text-align: center;
  // background: #243540;
}
.top {
  overflow: hidden;

  .black {
  
    background: black;
    padding: 30%;
  }

  .img {
  
    width: 100%;
  }

  .black-invert {
    background: linear-gradient(to bottom, black, #1d2f3c);
    margin-top: -2%;
    padding: 15%;
  }

.menuContainer{
border:1px solif white;
}
  .menu{
    font-size:10vw;
  
  }
  .menu1{
    margin-left:-100%;
  }

  .menu2{
    margin-left:60%;
  }
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 33vh;
  background: #1d2f3c;
  h1 {
    font-weight: 100;
    font-size: 20vw;
  }

  h2 {
    text-decoration-line: underline;
    font-size: 10vw;
    font-weight: 100;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
  }

  .logo {
    width: 40%;
    margin: 20%;
  }

  padding-bottom: 20%;
}

.bottom {
  padding: 20% 2%;
  //   min-height: 33vh;
  background: url('./assets/mobile-bottom.jpg');
  background-position: right;
  background-size: cover;

  .contact {
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    font-size: 25vw;
  }

  h2 {
    font-size: 15vw;
    margin: 5%;
  }
  form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      padding: 5%;
    }

    input,
    textarea,
    button {
      width: 80%;
      border-radius: 15px;
      margin-top: 5%;
      border: none;
    }

    textarea {
      height:50rem;
    }
  }

  button {
    background: none;

    font-size: 15vw;
    font-weight: 600;
  }
}
